<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="emp1" class="com.cgi.model.Employee">
<property name="id" value="1"/>
<property name="name" value="Vimal"/>
<property name="desig" value="ASE"/>
<property name="address" ref="addr1"/>
   </bean>
   
   
<bean id="addr1" class="com.cgi.model.Address">
<property name="hno" value="34"/>
<property name="street" value="Dhoni street"/>
<property name="city" value="Chennai"/>
   </bean>
</beans>
